body {
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-decoration: underline;
}

a {
    color: dodgerblue;
}

p {
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

figcaption {
    font-size: smaller;
}

mark {
    background-color: lightblue;
}

.obg {
    background-image: url(image/bg-stewart.jpg);
    background-size: cover;
    
}

.exit {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}